{% extends "common/base.html" %}
{%  load widget_tweaks %}

{%  block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="{% url 'auth_login' %}">
                {% csrf_token %}
                {% include "common/form_printer.html" with form=form only %}

                <button type="submit" class="btn btn-primary">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <a href="{% url 'password_reset' %}">Reset your password</a>
        </div>
    </div>
{% endblock %}
