<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">NewDjangoSite</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
      <div class="navbar-nav flex-row d-block d-lg-flex">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </div>
      @if (this.status === null) {
        <div class="spinner-border text-light loading navbar-nav flex-row ml-lg-auto d-block d-lg-flex" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      }
      @if (this.status && this.status.loggedIn === true) {
        <div class="navbar-nav flex-row ml-lg-auto d-block d-lg-flex">
          <a class="nav-item nav-link" routerLink="/password-change">Change Password</a>
          <a class="nav-item nav-link" role="button" tabindex="0" (click)="logout()" (keydown.enter)="logout()"><span class="d-none d-lg-block">Logout</span><span class="d-lg-none loggedIn">Logout {{ this.status.displayName }}</span></a>
        </div>
      }
      @if (this.status && this.status.loggedIn === false) {
        <div class="navbar-nav flex-row ml-lg-auto d-block d-lg-flex loggedOut">
          <a class="nav-item nav-link" routerLink="/login">Login</a>
          @if (signupEnabled) {
            <a class="nav-item nav-link" routerLink="/signup">Sign up</a>
          }
        </div>
      }
    </div><!--/.nav-collapse -->
    @if (this.status && this.status.loggedIn === true) {
      <span class="nav-text d-none d-lg-block text-light">Hello {{ this.status.displayName }}!</span>
    }
  </div>
</nav>
